

:root#dark-mode  {
	--text-color:   rgb(229 229 229);
	--dash-color:   rgb(48 48 48);/*rgba(255 255 255 / 0.05);*/
	--hover-shade:  rgba(255 255 255 / 0.14);
	--toggle-color: rgba(255 255 255 / 0.05);
	--search-color: rgba(255 255 255 / 0.05);
	--search-hover: rgba(255 255 255 / 0.2);
	--search-place: rgba(255 255 255 / 0.9);
	--dropdown-color: rgb(48,48,48);
	--stage-color: rgb(36 36 36);
	--track-color: rgba(255 255 255 / 0.450980392);
	--thumb-color: #eee;
}	
:root#light-mode  {
	--text-color:   rgb(2 2 2);
	--dash-color:  rgb(156, 156, 156); /* rgba(0 0 0 / 0.2);*/
	--hover-shade:  rgba(0 0 0 / 0.14);
	--toggle-color: rgba(0 0 0 / 0.10);
	--search-color: rgba(0 0 0 / 0.14);
	--search-hover: rgba(0 0 0 / 0.2);
	--search-place: rgba(0 0 0 / 0.994);
	--dropdown-color: rgb(190,190,190);
	--stage-color: rgb(172 172 172);
	--track-color: rgba(0 0 0 / 0.450980392);
	--thumb-color: #000;
}

svg path {
	fill: var(--text-color);
	transition: fill var(--theme-transition);
}

.paint {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -10;
}

:root {
	--theme-transition:  300ms;
	--nav-transition : 250ms;
	cursor: default;
	user-select: none;
	height:100%;
}
* {
	font-family:Canterall, sans-serif;
	font-size: 11pt;
	font-weight:600;
	color: var(--text-color);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	box-shadow: none;
}

body {
	position: relative;
	height: 100%;
	transition: background-color var(--theme-transition);
	background-color: var(--stage-color);
}

body #workarea {
	overflow: hidden;
	height: 100%;
	min-width: 100%;
	clip-path: inset(2.2em 0 0 0);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body #workspaces {
	display:flex;
	height: 100%;
	width:  100%;
	z-index: 1;
	translate:0;
	transition:
		height        var(--nav-transition),
		scale         var(--nav-transition),
		translate     var(--nav-transition),
		gap           var(--nav-transition);
}
body #workspaces > canvas {
	gap:0;
	transition:
		border-radius var(--nav-transition),
		box-shadow    var(--nav-transition),
		margin        var(--nav-transition);
}
body.overview #workspaces > canvas + canvas {
	scale: 0.92;
}

body.overview #workspaces {
	gap:3svw;
	scale:0.8;
	translate:0 -1svh;
}
body.overview #workspaces canvas {
	border-radius: 30px;
	box-shadow: 0 16px 32px 8px rgba(0, 0, 0, 0.4);
}

body.app-grid #workspaces {
	translate:34svw 15svh;
	height:15svh;
	gap:1.5svw;
}
body.app-grid #workspaces canvas {
	border-radius: 10px;
	box-shadow: 0 16px 32px 8px rgba(0, 0, 0, 0.2);
}
body #workarea.app-grid #workspaces > canvas + canvas {
	scale: 1.0;
}

#app-list {
	display: flex;
	align-items: start;
	justify-content: start;
}
#app-list ul {
	width:clamp(1280px, 50%, 100%);
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto ;
	gap:3em 2em ;
}
#app-list li {
	border-radius: 20px;
	padding:15px 30px 0px;
	text-align: center;
	text-overflow: ellipsis;
	transition: background-color var(--theme-transition);
	display:flex;
	flex-direction: column;
	align-items: center;
}
#app-list li:hover {
	background-color: var(--toggle-color);
}
#app-list li span{
	display: block;
	transition: color var(--theme-transition);
}
#app-list li img{
	height:clamp(64px, 4.2svw, 160px);
	margin:0 0 5px;
}