$overview_transition: 250ms;

:root {
	--darkest: #000;
	--dark: #2b2b2b;
	cursor: default;
	user-select: none;
	background-color: rgb(40,40,40);
	background-size: 100% 100%;
}

* {
	font: 400 10pt Canterall, sans-serif;
	color: #fff;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

input[type="range"] {
	width: 100%;
	background: none;

	&::-moz-range-track {
		background: #737373;
		height:4px;
		border-radius: 10px;
	}
	&::-moz-range-thumb {
		background: #eee;
		width:17px;
		height:17px;
		border-radius: 100%;
		border: none;
	}
	&::-moz-range-progress {
		background: #1c6cd0;
		height:4px;
		border-radius: 10px;
	}
}

.dropdown {
	position: absolute;
	top: 42px;
	right: 10px;
	padding: 15px;
	border-radius: 15px;
	width: 490px;
	z-index: 999;
	backdrop-filter:  blur(5rem) brightness(60%);
	background: var(--dark);
	box-shadow:  0 2px 10px rgba(0, 0, 0, 0.15);

	display: none;

	.job {
		background: rgba(70,70,70,0.7);
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
	}
	.device {
		+ .device {
			margin-top: 15px;
		}
		.job {

			width: 100%;
			margin-top: 10px;

			.media-player {
				display: flex;
				flex-direction: row;
				margin-bottom: 5px;
		
				> :not(.cover) {
					flex-grow: 1;
				}
			
				ul {
					display: flex;
					flex-direction: row;
			
					.info {
						flex-grow: 1;
						padding-right:10px;
						
						* {
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow:hidden;
						}
					}
					.controls {
						display: grid;
						grid-auto-flow: column;

						button {
							height:45px;
							width:45px;

							&.play {
								background-image:url("img/actions/media-playback-start-symbolic.svg");
							}
							&.prev {
								background-image:url("img/actions/media-skip-backward-symbolic.svg");
							}
							&.next {
								background-image:url("img/actions/media-skip-forward-symbolic.svg");
							}
						}
					}
				}
				.cover {
					height: 40px;
					width: 40px;
					background: #353535;
					margin-right: 10px;
				}
			}

			+ .job {
				margin-top: 15px;
			}

			.volume-slider {
				display: flex;
				flex-direction: row;

				input[type="range"] {
					flex-grow: 1;
					margin-left:10px;
				}

				button {
					background-image:url("img/status/audio-volume-high-symbolic.svg");
				}
			}
		}

		h1, h2 {
			font-weight: 700;
		}

		button {
			background: none;
			border: none;
			padding:2px 10px;
			height:32px;
			width:32px;
			border-radius: 3px;
			background-position: center;
			background-repeat: no-repeat;

			&:hover {
				background-color: rgba(255, 255, 255, 0.15)
			}
		}
	}
}

#stage {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: -1;
}
#panel {
	height: 32px;
	padding: 2px;
	display: flex;
	justify-content: space-between;
	margin:0;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 1;

	> * {
		width:33%;
	}

	.left p {
		padding:2px 5px;
		font:400 11pt Cantarella, sans-serif;
	}

	.center {
		font:400 11.5pt Cantarella, sans-serif;
		text-align: center;
		padding: 2px 0;
	}

	.right {
		align-self: end;
		display: flex;
		justify-content: flex-end;
		justify-items: stretch;
		height: 100%;

		>* {
			border-radius: 20px;
		}
	}
}


#system-status-area {
	padding: 0 12px;
	display: flex;
	flex-direction: row;
	height: 100%;

	li {
		> img {
			padding: 6px 4px;
		}
	}
}

.active-service {
	border-radius: 15px;
	margin: 3px;

	> img {
		padding: 4px 16px;
		height: 22px;
	}
}

#system-status-area:hover, #volume-mixer:hover, #volume-mixer.selected {
	background: rgba(255, 255, 255, 0.15);
}

#capture-menu {
	background: #1a5fb4;
}

body {
	height: 100%;
}

#workspaces-zoomed {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 1;

	> li {
		min-width: 100%;
		min-height: calc(100% - 32px);
		border-radius: 5px 5px 0 0;
		background-size: cover;
		background-position: center;

		+ li {
			margin-left:7vw;
		}
	}
}

#workarea, #workspaces-zoomed, #workspaces-zoomed > li {
	transition: all 0.15s;
}

#workarea {
	overflow: hidden;
	height: 100%;
	min-width: 100%;
	padding:32px 0 0 0;
	display: flex;
	flex-direction: row;
	box-shadow: 0 5px 60px rgba(0, 0, 0, 1);

	li {
		background-image: var(--background);
		transition: border-radius box-shadow  $overview_transition;
	}

	&:hover {
		#workspaces-zoomed {
			transform: scale(0.85, 0.85) translate(0px, -5%);

			> li {
				border-radius: 30px;
				box-shadow: 0 4px 32px 4px rgba(0, 0, 0, 0.7);
			}
		}
	}
}

#dash-area {
	width:100vw;
	height:96px;
	position: fixed;
	bottom:16px;
	left:0;
	right:0;
	display: flex;
	justify-content: center;

	#dash {
		display: flex;
		flex-direction: row;
		border-radius: 25px;
		padding:10px;
		height:100%;

		&, dd:hover {
			background:rgba(255, 255, 255, 0.15);
		}

		dt {
			width:1px;
			background:rgba(255, 255, 255, 0.5);
			height:61px;
			margin:10px;
		}

		dd {
			border-radius: 15px;
			padding:5px;
			height:100%;

			img {
				height:100%;
			}
		}
	}
}
